$color-primary: #2f333c;
$color-secondary: #fff;
$color-windows: #e6e6e6;
$color-windows-lighter: #f0f0f0;
$color-windows-lighter-hover: #dbdbdb;
$color-windows-darker: #818181;
$color-windows-darkerborder: #b4b4b4;
$color-orange: #ff6161;

$font-primary: 'Chakra Petch', sans-serif;

@mixin box-shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  -ms-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

//@include box-shadow(0px, 0px, 0px, 4px, #fff);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
