howtorecord {
    p {
      margin-bottom: 5px;
    }
  
    img {
      margin-right: 20px;
    }
    &--buttons {
      padding: 0 30px 30px 30px;
      display: flex;
      justify-content: flex-end;
  
      button {
        margin-left: 20px;
      }
    }
  }
  